<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'head.njk' %}
  </head>

  <body>
    <header>
      <p id="terug"><a href="/">Startpagina</a></p>
      {% include 'header.njk' %}
      <p id="nieuw"><a href="/admin">Nieuw recept</a></p>
    </header>
    {{ content | safe }}
    {#<footer>
      {% include 'footer.njk' %}
    </footer>#}
  </body>

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</html>
