<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'head.njk' %}
  </head>

  <body>
    <p id="terug"><a href="javascript:history.back()">Terug</a></p>
    <header>
      {% include 'header.njk' %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      {% include 'footer.njk' %}
    </footer>
  </body>

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</html>
