<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'head.njk' %}
  </head>

  <body>
    <header>
      <p id="terug"><a href="javascript:history.back()">Terug</a></p>
      {% include 'header.njk' %}
      <p id="nieuw"><a href="../../admin" target="_blank">Nieuw recept</a></p>
      <a href="#" id="editButton"><button class="btn">Edit this post</button></a>
    </header>
    <main>
      {{ content | safe }}
    </main>
    {# <footer>
      {% include 'footer.njk' %}
    </footer> #}
  </body>

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const editButton = document.getElementById("editButton");
    const blogUrl = window.location.pathname.split("/")[2];
    const adminUrl = `admin/#/collections/blog/entries/${blogUrl}`;

    editButton.href = adminUrl;
  });
</script>
</html>
