<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'head.njk' %}
  </head>

  <body>
    <p id="terug"><a href="/">Startpagina</a></p>
    <header>
      {% include 'header.njk' %}
    </header>
      {% include 'filter.njk' %}
      {{ content | safe }}
    <footer>
      {% include 'footer.njk' %}
    </footer>
  </body>

</html>
