<div id="zoeken">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek een gerecht...">
  <div id="myBtnContainer">
    <a href="/blog"><button class="btn">Alle recepten</button></a>
    <a href="/veggie"><button class="btn">Veggie</button></a>
    <a href="/vegan"><button class="btn">Vegan</button></a>
    <a href="/vis"><button class="btn">Vis</button></a>
    <a href="/vlees"><button class="btn">Vlees</button></a>
    <a href="/soep"><button class="btn">Soep</button></a>
    <a href="/dessert"><button class="btn">Dessert</button></a>
  </div>
</div>
