<div id="zoeken">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek een gerecht...">
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('alle')">Toon alles</button>
    <button class="btn" onclick="filterSelection('veggie')">Veggie</button>
    <button class="btn" onclick="filterSelection('vegan')">Vegan</button>
    <button class="btn" onclick="filterSelection('vis')">Vis</button>
    <button class="btn" onclick="filterSelection('vlees')">Vlees</button>
  </div>
</div>
