<meta charset="UTF-8">
<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/reset.css">
<link rel="stylesheet" href="/style.css">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="152x152" href="./src/assets/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/fav/favicon-16x16.png">
<link rel="manifest" href="assets/fav/site.webmanifest">
<link rel="mask-icon" href="assets/fav/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
<!-- javascript -->
<script type="text/javascript" src="../scripts/jquery-3.1.1.js"></script>
<!--zoekbalk script-->
<script type="text/javascript" src="../scripts/zoekbalk.js"></script>

<!--
<script>
// Pijltjestoetsen
  $(document).keydown(function(e){
      if (e.keyCode == 39) {
         $(location).attr('href', 'recept/1.html');
      }
  });
  $(document).keydown(function(e){
      if (e.keyCode == 37) {
         $(location).attr('href', 'recept/28.html');
      }
  });
</script>
-->
