<a href="{{ post.url }}">
  <li>
    <div class="snippet-foto-div" style="width:100%;height:25vh;overflow:hidden;"><!--mobile 40vh;-->
      <img src="{{ post.data.image }}" alt="foto nog niet ingesteld" style="vertical-align: middle">
    </div>
    <p>{{ post.data.title }}</p>
  </li>
</a>
