<a href="{{ post.url }}">
  <li>
    <div style="width:100%;height:25vh;overflow:hidden;"><!--mobile 40vh;-->
      <img src="{{ post.data.image }}" alt="foto nog niet ingesteld">
    </div>
    <p>{{ post.data.title }}</p>
  </li>
</a>
