<a href="{{ post.url }}">
  <li>
    <div class="snippet-foto-div"><!--mobile 40vh;-->
      <img src="{{ post.data.image }}" alt="foto nog niet ingesteld">
    </div>
    <p>{{ post.data.title }}</p>
  </li>
</a>
