---
layout: 'base-recept.njk'
---

<h2>{{ title }}</h2>
<div>
  <p class="ingredienten">Ingredi&euml;nten</p>
  <ul class="ingredientenlist">
    <li>600 gr varkensstoofvlees</li>
    <li>1 grote ajuin</li>
    <li>klont boter</li>
    <li>zakje stoofvleeskruiden</li>
    <li>1 snede brood</li>
    <li>mosterd</li>
    <li>scheutje azijn</li>
    <li>peper en zout</li>
  </ul>
</div>
<div>
  <p class="bereidingswijze">Bereidingswijze</p>
  {{ content | safe }}
</div>
<figure>
  <img src="{{ image }}" alt="{{ imageAlt }}">
  <figcaption>
    {{ imageAlt }}
  </figcaption>
</figure>
