---
layout: 'base-recept.njk'
---

<h2>{{ title }}</h2>
<div>
  <p class="ingredienten">Ingredi&euml;nten</p>
  <ul class="ingredientenlist">
    <li>{{ ingredienten | safe }}</li>
  </ul>
</div>
<div>
  <p class="bereidingswijze">Bereidingswijze</p>
  {{ content | safe }}
</div>
<figure>
  <img src="{{ image }}" alt="{{ title }}">
  <figcaption>
    {{ imageAlt }}
  </figcaption>
</figure>
