---
layout: 'base.njk'
permalink: 404.html
---

<img src="https://media.istockphoto.com/id/518223334/nl/vector/cartoon-shrimp.jpg?s=1024x1024&w=is&k=20&c=_N7OwEdu2TyHADV0PxXvvbv4tH9BP-DLnOvLK8MfIVU=">

<h2>Deze pagina bestaat niet</h2>
<a href="./"><button class="btn">Startpagina</button></a>
<a href="./blog"><button class="btn">Inhoudstafel bekijken</button></a>
<a href="./admin" target="_blank"><button class="btn">Nieuw recept toevoegen</button></a>
<!-- Add additional content, links, or styling as needed -->
