---
title : Inhoudstafel
layout : 'base-filter.njk'
---

<h3>{{ title }}</h3>
<ul class="container" id="inhoudstafel">

  {% set sorted_posts = collections.post | sortByTitle %}
  {%- for post in sorted_posts -%}
      {% include 'recent-recept-snippet.njk' %}
  {%- endfor -%}
  

</ul>
