---
title : Dessert
layout : 'base-filter.njk'
---

<h3>{{ title }}</h3>
<ul class="container" id="inhoudstafel">

  {%- for post in collections.dessert -%}
    {% include 'recent-recept-snippet.njk' %}
  {%- endfor -%}

</ul>
