---
title: Versie 1
layout: 'base.njk'
---

<section>
  <h2>Welcome to my blog!</h2>
  <p>I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
  <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
  <div>
    <a href="#featured-articles"><button class="btn">Featured articles</button></a>
    <a href="./blog"><button class="btn">Inhoudstafel</button></a>
    <a href="./veggie"><button class="btn">Veggie</button></a>
    <a href="./vegan"><button class="btn">Vegan</button></a>
    <a href="./vis"><button class="btn">Vis</button></a>
    <a href="./vlees"><button class="btn">Veggie</button></a>

</section>

<section id="featured-articles">
  <h2 class="section-title text-center ">Featured articles</h2>
  <ul role="list" class="articles__list flow">

    {%- for post in collections.featured | reverse -%}
      {% include 'recept-snippet.njk' %}
    {%- endfor -%}

  </ul>
</section>
