---
title: Versie 2
layout: 'base.njk'
---

<div id="startpagina">

  <div>
    <h2>Welkom & smakelijk!</h2>
    <p>In dit kookboek kan je mama's lekkerste gerechten vinden, maar ook recepten van anderen binnen de familie.</p>
    <p>Klik rechts op een categorie om de recepten te doorbladeren of klik hieronder om de recentste gerechten te bekijken.</p>
    <a href="#recente-recepten"><button class="btn">Recente recepten</button></a>
  </div>

  <div>
    <a href="./blog"><figure><img src="./assets/blog/article-5.JPG" alt="">Volledige inhoudstafel</figure></a>
  </div>

  <div>
    <a href="./veggie"><figure><img src="./assets/blog/article-1.JPG" alt="">Veggie</figure></a>
    <a href="./vegan"><figure><img src="./assets/blog/article-2.JPG" alt="">Vegan</figure></a>
    <a href="./vis"><figure><img src="./assets/blog/article-4.JPG" alt="">Vis</figure></a>
    <a href="./vlees"><figure><img src="./assets/blog/article-3.JPG" alt="">Veggie</figure></a>
  </div>

  <section id="recente-recepten">
    <h2>Recente recepten</h2>
    <ul>

      {%- for post in collections.featured | reverse -%}
        {% include 'recent-recept-snippet.njk' %}
      {%- endfor -%}

    </ul>
  </section>

</div>
