---
title : Recepten van Marianne
layout : 'base-filter.njk'
---

<h3>Recepten van Marianne</h3>
<ul class="container" id="inhoudstafel">

  {%- for post in collections.post.mama -%}
  {% include 'recent-recept-snippet.njk' %}
{%- endfor -%}

</ul>
