body{
  width: 75%;
  margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size: 3em;
	text-align: center;
	padding: 15px;
}
h2{
	font-size: 2em;
	padding-bottom: 35px;
	text-align: right;
}
h2, .ingredienten, .ingredientenlist{
	padding: 12px 0 0 40px;
}
.bereidingswijze{
  	padding: 12px 0 0 0;
}
main div:nth-child(3) p:nth-child(2){
	padding-top: 12px;
}
.ingredienten, .bereidingswijze{
	font-weight: bold;
}
h3{
	font-size: 1.4em;
	text-align: right;
	padding: 0 0 50px 0;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: .9rem;
}
h4{
	font-size: 1.1em;
	padding: 15px;
	text-decoration: underline;
}

header{
	display: grid;
	border-bottom: solid 3px black;
	margin: 20px 0 40px 0;
}

#terug{
  grid-column: 1/2;
}
h1{
  grid-column: 2/3;
}
#nieuw{
  grid-column: 3/4;
  text-align: right;
}

a, a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}










/*recept pagina*/
main{
  line-height: 22px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  height: 10vh;
  width: 100%;
  grid-gap: 12px;
}
main h2{
  grid-column: 1/-1;
}
img{
	width: 100%;
}










/* startpagina */

#startpagina{
	display: grid;
	grid-template-columns: 2fr 3fr 3fr;
	grid-gap: 50px;
  line-height: 22px;
}
#startpagina div:first-child{
	grid-row: 1/2;
}
#startpagina div:nth-child(2){
	grid-row: 1/2;
}
#startpagina div:nth-child(3){
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
}
#startpagina section:nth-child(4){
	grid-column: 2/4;
}
#startpagina section:nth-child(4) ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}
#startpagina section:nth-child(4) ul li img{
	width: 50%;
	float: left;
	margin-right: 20px;
}
#startpagina:last-child{
	margin-bottom: 50px;
}

#startpagina h2{
	text-align: left;
	padding: 0 0 22px 0;
	line-height: 2rem;
}
#startpagina div:first-child{
	text-align: center;
}
#startpagina div:first-child h2{
	text-align: center;
	padding-bottom: 30px;
	line-height: 2rem;
}
#startpagina p{
	padding-bottom: 30px;
}









/* inhoudstafel pagina */
#inhoudstafel li{
	width: 50%;
	float: left;
	height: 50px;
	text-align: center;
}















/*filter-row*/
#zoeken{
  padding-bottom: 30px;
  overflow: hidden;
}
/*zoekbalk*/
#myInput {
  background-image: url('../images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 10px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 47.5%; /* Full-width */
  margin-right: 2.5%;
  font-size: 15px; /* Increase font-size */
  box-sizing: border-box;
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  float: left;
}

#myBtnContainer{
  width: 47.5%;
  margin-left: 2.5%;
  text-align: right;
  float: left;
  padding-top: 1px;
}
.btn {
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
}
.btn:hover {
	background-color: #ddd;
}
.btn:active {
	background-color: #666;
	color: white;
}














/*volgende vorige*/
footer{
	width: 75%;
	position: fixed;
	bottom: 20px;
}
footer p{
	width: 50%;
	float: left;
}
footer p:nth-child(2){
	text-align: right;
}
















/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  body{
    width: 95%;
  }

}
