---
title : mama
layout : 'base-filter.njk'
---

<h3>{{ title }}gerechten</h3>
<ul class="container" id="inhoudstafel">

  {% set sorted_posts = collections.post | filterByTag('Mama') | sortByTitle %}
  {%- for post in sorted_posts -%}
      {% include 'recent-recept-snippet.njk' %}
  {%- endfor -%}

  {# {%- for author in collections.Brecht -%}
    {% include 'recent-recept-snippet.njk' %}
  {%- endfor -%} #}

</ul>

{# {%- for aut in collections.author.Justine -%} #}

{# {%- for post in collections.author[Justine] -%} #}
