---
title : mama
layout : 'base-filter.njk'
---

<h3>{{ title }}gerechten</h3>
<ul class="container" id="inhoudstafel">

  {%- for post in collections.author.Justine -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%}

  {# {%- for author in collections.post -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for Justine in collections.post -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for justine in collections.post -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for post.Brecht in collections.post -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for post.brecht in collections.post -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for post in collections.Justine -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for post in collections.justine -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for post in collections.post.Brecht -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}

  {# {%- for post in collections.post.brecht -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%} #}
</ul>
