---
title : Vegan
layout : 'base-filter.njk'
---

<h3>{{ title }}gerechten</h3>
<ul class="container" id="inhoudstafel">

  {%- for post in collections.vegan -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%}

</ul>
