---
title : Veggie
layout : 'base-filter.njk'
---

<h3>{{ title }}gerechten</h3>
<ul class="container" id="inhoudstafel">

  {% set sorted_posts = collections.veggie | sortByTitle %}
  {%- for post in sorted_posts -%}
    {% include 'recent-recept-snippet.njk' %}
  {%- endfor -%}

  {# {%- for post in collections.veggie -%}
    {% include 'recent-recept-snippet.njk' %}
  {%- endfor -%} #}

</ul>
