---
title : Veggie
layout : 'base-filter.njk'
---

<h3>{{ title }} gerechten</h3>
<ul class="container" id="inhoudstafel">

  {%- for post in collections.veggie | reverse -%}
    {% include 'recept-snippet.njk' %}
  {%- endfor -%}

</ul>
